# Example for a woodpecker-agent.env file

# Check the documentation for the agent:
# https://woodpecker-ci.org/docs/administration/configuration/agent

# Add all required environment variables for your setup in the form of VARIABLE=value
VARIABLE=value
