# Example for a woodpecker-server.env file

# Check the documentation for the server:
# https://woodpecker-ci.org/docs/administration/server-config

# Add all required environment variables for your setup in the form of VARIABLE=value
VARIABLE=value
