@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hover-effect {
    @apply hover:bg-black hover:bg-opacity-10 dark:hover:bg-white dark:hover:bg-opacity-5 transition-colors duration-100;
  }

  .w-fill {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
  }
}
