backports-abc==0.5
Click==7.0
futures==3.3.0
htmlmin==0.1.12
Jinja2==2.10.3
jsmin==2.2.2
livereload==2.6.1
Markdown==3.1.1
MarkupSafe==1.1.1
mkdocs==1.0.4
mkdocs-markdownextradata-plugin==0.1.1
mkdocs-material==4.4.3
mkdocs-minify-plugin==0.2.1
pep562==1.0
Pygments==2.4.2
pymdown-extensions==6.1
PyYAML==5.4
singledispatch==3.4.0.3
six==1.13.0
tornado==5.1.1
